<a href="https://colab.research.google.com/github/myashakti/AI-LAB-Python/blob/main/week01_171_15_1203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
name = input("What's your name? ")
print(name)

What's your name? Md Yeasin Arafat
Md Yeasin Arafat

In [58]:
x = 6.4536475856
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %x)
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %x)

The value of number till 2 decimal place(using %) is : 6.45
The value of number till 2 decimal place(using %) is : 6.4536

In [56]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

In [55]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [52]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [51]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

In [50]:
print("Display the name O'Brien")

Display the name O'Brien

In [49]:
print('Display \'Hi\' in quotes')

Display 'Hi' in quotes

In [48]:
print('Display "HI" in quotes')

Display "HI" in quotes

In [47]:
print('int(7.6)', 'truncates 7.6 to', int(7.6))

int(7.6) truncates 7.6 to 7

In [46]:
print('Sum is', 10 + 4)

Sum is 14

In [44]:
print('this is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines

In [43]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [42]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [41]:
a = 10

print(not(x > 3 and x < 10))

False

In [40]:
a = 9

print(a > 3 or a < 4)

True

In [39]:
a = 8

print(a > 3 and b < 10)

True

In [38]:
a = 7
b = 6
c = a <= b

print(c)

False

In [37]:
x = 7
y = 6
z = x >= y

print(z)

True

In [36]:
x = 5
y = 4
z = x<y

print(z)

False

In [35]:
x = 10
y = 4
z = x > y

print(z)

True

In [33]:
a = 7
b = 5
c = a != b

print(c)

True

In [30]:
a = 5
b = 4

print(a == b)

False

In [27]:
a = 7
b = 2
c=a % b

print(c)

1

In [25]:
a = 10

a /= 3

print(a)

3.3333333333333335

In [24]:
a = 15
b = 2
c = a // b

print(c)

7

In [23]:
a = 7

a **= 2

print(a)

49

In [21]:
a = 5
b = 3
c = a-b
print(c)

2

In [20]:
a = 6

a += 3

print(a)

9

In [18]:
a = 5

a /= 3

print(a)

1.6666666666666667

In [16]:
a = 5
b = 6
c = a*b
print(c)

30

In [9]:
a = 122
print(type(a))
b=10.5
print(type(a))
c="Rahim"
print(type(c))

<class 'int'>
<class 'int'>
<class 'str'>

In [3]:
a=5
b=7
print(a+b)
total = a+b
print(total)
x = "Shakti"
y = "Lata"
print(x , y)

12
12
Shakti Lata

In [10]:
print("Hello World!")

Hello World!